/* begin Box, Sheet */
.art-Sheet-tl
{
	clip: rect(auto 12px 12px auto);
}

.art-Sheet-tr
{
	clip: rect(auto auto 12px 12px);
}

.art-Sheet-bl
{
	clip: rect(12px 12px auto auto);
}

.art-Sheet-br
{
	clip: rect(12px auto auto 12px);
}

.art-Sheet-tc
{
	clip: rect(auto auto 12px auto);
}

.art-Sheet-bc
{
	clip: rect(12px auto auto auto);
}

.art-Sheet-cr
{
	clip: rect(auto auto auto 12px);
}

.art-Sheet-cl
{
	clip: rect(auto 12px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{	clip: rect(auto auto auto 955px);
}
/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
	clip: rect(auto auto auto 407px);
}
/* end MenuItem */

/* begin Box, Block */
.art-Block-tl
{
	clip: rect(auto 7px 7px auto);
}

.art-Block-tr
{
	clip: rect(auto auto 7px 7px);
}

.art-Block-bl
{
	clip: rect(7px 7px auto auto);
}

.art-Block-br
{
	clip: rect(7px auto auto 7px);
}

.art-Block-tc
{
	clip: rect(auto auto 7px auto);
}

.art-Block-bc
{
	clip: rect(7px auto auto auto);
}

.art-Block-cr
{
	clip: rect(auto auto auto 7px);
}

.art-Block-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, Block */

/* begin Box, BlockContent */
.art-BlockContent-tl
{
	clip: rect(auto 7px 7px auto);
}

.art-BlockContent-tr
{
	clip: rect(auto auto 7px 7px);
}

.art-BlockContent-bl
{
	clip: rect(7px 7px auto auto);
}

.art-BlockContent-br
{
	clip: rect(7px auto auto 7px);
}

.art-BlockContent-tc
{
	clip: rect(auto auto 7px auto);
}

.art-BlockContent-bc
{
	clip: rect(7px auto auto auto);
}

.art-BlockContent-cr
{
	clip: rect(auto auto auto 7px);
}

.art-BlockContent-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, BlockContent */

/* begin Box, Post */
.art-Post-tl
{
	clip: rect(auto 3px 3px auto);
}

.art-Post-tr
{
	clip: rect(auto auto 3px 3px);
}

.art-Post-bl
{
	clip: rect(3px 3px auto auto);
}

.art-Post-br
{
	clip: rect(3px auto auto 3px);
}

.art-Post-tc
{
	clip: rect(auto auto 3px auto);
}

.art-Post-bc
{
	clip: rect(3px auto auto auto);
}

.art-Post-cr
{
	clip: rect(auto auto auto 3px);
}

.art-Post-cl
{
	clip: rect(auto 3px auto auto);
}
/* end Box, Post */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 399px);
}
/* end Button */

